$widthSite: 1140px;
$colorTextB: #222222;
$colorSite: #F16D7F;
$colorBack: #FFFFFF;
$colorLink: #636363;
$borderSlider: #EAEAEA;
$backSlider: #F7F7F7;
$btnSlider: #2A2A2A26;
$colorTextItemH5: #000000;
$productDescription: #4D4D4D;
$productDescriptionText:#5E5E5E;
$productDescriptionPrice: #EF5B70;
$colorMenuSubcategories: #6f6e6e;
$colorBorder:#ff6a6a;
$colorTextItemP: #5d5d5d;
$colorBackTextInput: #e1e1e1;
$colorTextW: #FBFBFB;





