$widthSite: 1140px;
$colorBack: #FFFFFF;
$colorSite: #F16D7F;
$colorTextB: #222222;
$colorNameShop: #f1e4e6;
$shadowBox: #00000036;
$colorTextW: #FBFBFB;
$colorMenuContent: black;
$colorMenuSubcategories: #6f6e6e;
$colorBackBlur: #211616;
$colorProduct: #9f9f9f;
$colorBackProduct: #f8f8f8;
$colorImgBlur: #3a3838;
$colorTextItemH5: #000000;
$colorTextItemP: #5d5d5d;
$colorProductBtn: #f26376;
$colorBorder:#ff6a6a;
$colorBackFeature: #222224;
$colorBackTextInput: #e1e1e1;